@import "../styles/colors.scss";

@mixin button($bg: $violet) {
  background: $bg;
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px;
  color: $white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.25s;
}

@mixin hoverViolet {
  &:hover {
    background: #9468da;
  }

  &:active {
    background: #6039a0;
  }
}

@mixin hoverOrange {
  &:hover {
    background: #f8625a;
  }

  &:active {
    background: #a4221c;
  }
}

@mixin bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
